:root {
  --ss-background: #020503;
  --ss-surface: #0A0D0B;
  --ss-chrome: #141B18;
  --ss-foreground: #EFF3F1;
  --ss-muted-foreground: #A1A6A3;
  --ss-chrome-foreground: #EFF3F1;
  --ss-border: #323A36;
  --ss-primary: #7AC39E;
  --ss-primary-foreground: #020403;
  --ss-accent: #77CDC2;
  --ss-accent-foreground: #020403;
  --ss-focus: #95C9FF;
  --ss-success: #73D083;
  --ss-success-foreground: #020403;
  --ss-warning: #E1AD57;
  --ss-warning-foreground: #020403;
  --ss-danger: #FF968A;
  --ss-danger-foreground: #020403;
  --ss-primary-50: #E8FFF2;
  --ss-primary-100: #C6F9DD;
  --ss-primary-200: #B0E6C9;
  --ss-primary-300: #92CDAE;
  --ss-primary-400: #6FAF8E;
  --ss-primary-500: #4E9472;
  --ss-primary-600: #347C5B;
  --ss-primary-700: #1F6346;
  --ss-primary-800: #04492F;
  --ss-primary-900: #002F1D;
  --ss-primary-950: #00170C;
  --ss-accent-50: #E5FFFB;
  --ss-accent-100: #BEF9F0;
  --ss-accent-200: #A7E6DD;
  --ss-accent-300: #89CDC3;
  --ss-accent-400: #64AEA4;
  --ss-accent-500: #409389;
  --ss-accent-600: #227B72;
  --ss-accent-700: #05635B;
  --ss-accent-800: #004841;
  --ss-accent-900: #002E29;
  --ss-accent-950: #001613;
}
